*{
    margin: 0;  
    padding: 0;
}
body{
    background: url("https://c4.wallpaperflare.com/wallpaper/961/213/251/phone-old-red-dial-wallpaper-preview.jpg");
    background-size: 100%;
}
div.main{
    width: 500px;
    margin: 30px auto 0px auto;
    }
    div.contact{
        width: 100%;
        font-family: algerian;
        font-size: 35px;
        border-radius: 8px ;
        border: 1px rgb(143, 153, 156);
        color:rgb(11, 241, 241) ;
       text-align:start;
    }
p{
font-family:algerian;
font-size: 50px;
color:lightcyan;
text-align: center;
}
    label{
        font-size:35px;

    }
    
    